main {
    width: 80%;
    margin: 1rem auto;
}

.flickName {
    margin: 0 0;
}

.template {
    display: none;
}

h1 {
    font-weight: bold;
    font-size: 3em;
}

.flick.fav {
    background-color: #62e6ff;
}